body {
    @media only screen and (min-width: 768px) {
        background: url("../../../Images/god_of_war_ghost_of_sparta.jpg") no-repeat center center fixed;
        -khtml-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }

    @media only screen and (max-width: 769px) {
        background: url("../../../Images/desktop-wallpaper-raven-moran-on-god-of-war-god-of-war-ghost-of-sparta-thumbnail.jpg") no-repeat center 80px fixed;
        background-size: 100% 120%;
    }
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    max-width: 100%;
    min-height: 100%;
    font-size: 18px;
}

#showToggleMenu {
    &:hover {
        width: 100%;

        @media only screen and (min-width: 768px) {
            .toggleList {
                height: 355px;
                border: 1px solid rgba(173, 70, 38, 1);
            }
        }
    }
}