body {
    @media only screen and (min-width: 768px) {
        background: url("../../../Images/God-of-War-Chains-of-Olympus-05f4970.jpg") no-repeat center center fixed;
        -khtml-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    @media only screen and (max-width: 769px) {
        background: url("../../../Images/MV5BM2YxMjExNGItYTI4NS00MjAzLWI4NDAtMTY2NGFhNWY0MzEyXkEyXkFqcGdeQXVyMTA0MTM5NjI2._V1_.jpg") no-repeat center center fixed;
        background-color: #000000;
        background-size: 120% 120%;
    }
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    max-width: 100%;
    min-height: 100%;
    font-size: 18px;
}

#showToggleMenu {
    &:hover {
        width: 100%;

        @media only screen and (min-width: 768px) {
            .toggleList {
                height: 160px;
                border: 1px solid rgba(173, 70, 38, 1);
            }
        }
    }
}