body {
    @media only screen and (min-width: 768px) {
        background: url("../../../Images/God_of_War-_Ascension1.jpg") no-repeat center center fixed;
        -khtml-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    @media only screen and (max-width: 769px) {
        background: url("../../../Images/god-of-war-ascension-4k-13.jpg") no-repeat center center fixed;
        background-color: #000000;
        background-size: 300% 120%;
    }
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    max-width: 100%;
    min-height: 100%;
    font-size: 18px;
}

#showToggleMenu {
    &:hover {
        @media only screen and (min-width: 768px) {
            .toggleList {
                height: 215px;
                border: 1px solid rgba(173, 70, 38, 1);
            }
        }
    }
}