body {
    @media only screen and (min-width: 768px) {
        background: url("../../../Images/1209131.jpg") no-repeat center center fixed;
        -khtml-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }

    @media only screen and (max-width: 769px) {
        background: url("../../../Images/9781506733494-1658716557072.jpg") no-repeat center center fixed;
        background-size: 110% 110%;
    }

    font-family: 'Times New Roman',
    Times,
    serif;
    color: whitesmoke;
    max-width: 100%;
    min-height: 100%;
    font-size: 18px;
}

.nav {
    >a {
        border: 1px solid rgb(38, 40, 156);
        background-color: rgb(106, 148, 204);

        &:hover {
            background: rgb(38, 40, 156);
        }
    }
}

#showToggleMenu {
    &:hover {
        width: 100%;

        @media only screen and (min-width: 768px) {
            .toggleList {
                height: 502px;
                border: 1px solid rgb(38, 40, 156);
            }
        }
    }

    >a {

        border: 1px solid rgb(38, 40, 156);
        background-color: rgb(106, 148, 204);

        &:hover {
            background: rgb(38, 40, 156);
        }
    }
}

.toggleList {
    >li {
        width: 100%;
        border-top: 1px solid rgb(38, 40, 156);

        &:hover {
            background: rgb(38, 40, 156);
        }
    }
}