body {
    @media only screen and (min-width: 768px) {
        background: url("../../../Images/DbNOsPMX0AIbvIG.jpg") no-repeat center center fixed;
        -khtml-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    @media only screen and (max-width: 769px) {
        background: url("../../../Images/God_of_War_-_Betrayal.webp") no-repeat center 250px fixed;
        background-color: #000000;
        background-size: 100% auto;
    }
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    max-width: 100%;
    min-height: 100%;
    font-size: 18px;
}

#showToggleMenu {
    &:hover {
        width: 100%;

        @media only screen and (min-width: 768px) {
            .toggleList {
                height: 100px;
                border: 1px solid rgba(173, 70, 38, 1);
            }
        }
    }
}